.wallet-connect {
    display: flex;
    justify-content: right;
    padding-top: 2rem;
    padding-right: -1rem;
}

.wallet-connected, .wallet-not-connected {
    border-radius: 50px;
    border: 2px solid #00F0FF;
    padding: .2rem 1rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    width: 11rem;
    align-items: center;
    text-align: center;
}

.wallet-connected {
    cursor: default;
}

.wallet-not-connected {
    background-color: transparent;
}

.header {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 7rem;
    line-height: 7rem;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.donate-button, .raise-button {
    border-radius: 50px;
    border: 2px solid #00F0FF;
    padding: .3rem 1.5rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
}

.spacer {
    padding: 0.5rem;
}